<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
	<LinearLayout
		android:orientation="vertical"
		android:layout_width="match_parent"
		android:layout_height="match_parent">
		<FrameLayout
			android:minWidth="25px"
			android:minHeight="25px"
			android:layout_width="match_parent"
			android:layout_height="550px"
			android:id="@+id/imageLayout">
			<ImageView
				android:src="@drawable/dank"
				android:layout_width="500px"
				android:layout_height="500px"
				android:id="@+id/cocktailImage"
				android:layout_gravity="center"/>
		</FrameLayout>
		<TextView
			android:text="Cocktail Name"
			android:textAppearance="?android:attr/textAppearanceLarge"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/cocktailName"
			android:gravity="center" />
		<TextView
			android:text="Description"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:gravity="center" />
		<TextView
			android:text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec tincidunt orci. Proin a libero quam. Aenean quis nulla vitae ante fringilla facilisis sed ut lacus. Quisque ac euismod nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. "
			android:textAppearance="?android:attr/textAppearanceSmall"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/cocktailDescription"
			android:gravity="center" />
		<TextView
			android:text="Ingredients"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:gravity="center" />
		<LinearLayout
			android:orientation="vertical"
			android:minWidth="25px"
			android:minHeight="25px"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/ingredientList">
		</LinearLayout>
		<TextView
			android:text="Bereidingswijze"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:gravity="center" />
		<TextView
			android:text="Je maakt de cocktail zo en zo en zo "
			android:textAppearance="?android:attr/textAppearanceSmall"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/cocktailProcedure"
			android:gravity="center" />
	</LinearLayout>
</ScrollView>